extends ../layout

block body

	form(action="/process", method="post")
		div
			label Name:
			input(type="text", name="username")
		div
			label Pass:
			input(type="password", name="password")
		div
			input(type="submit", value="Submit")
